<p>
    Welcome to to Operation Hope,
</p>

<p>This ... is ... Operation Hope. Welcome. This is Operation Hope; welcome ... to Operation Hope. You can do anything
    at Operation Hope. Anything at all. The only limit is yourself. Welcome ... to Operation Hope.</p>

<p>Welcome ... to Operation Hope. This is ... Operation Hope. Welcome ... to Operation Hope! This is Operation Hope,
    welcome! Yes ... This ... is Operation Hope.</p>

<p>This is Operation Hope! And welcome to you, who have come to Operation Hope. Anything ... is possible ... at
    Operation Hope. You can do ... anything at Operation Hope. The infinite is possible at Operation Hope. The
    unattainable is unknown at Operation Hope. Welcome to Operation Hope. This ... is Operation Hope.</p>

<p>Welcome to Operation Hope. Welcome. This ... is ... Operation Hope. Welcome ... to Operation Hope! Welcome ... to
    Operation Hope</p>
